.product{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; */
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
    border-radius: 10px;
}